[submodule "resources/lang"]
	path = resources/lang
	url = https://github.com/GhostlyMC/Language
[submodule "src/zomarrd/ghostly/database"]
	path = src/zomarrd/ghostly/database
	url = https://github.com/GhostlyMC/DatabaseAPI
[submodule "src/zomarrd/ghostly/gcoins"]
	path = src/zomarrd/ghostly/gcoins
	url = https://github.com/GhostlyMC/G-Coins
